{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center text-danger">Deletar Operação</h1>
        <p class="text-center">Tem certeza de que deseja deletar esta operação?</p>
        <p class="text-center"><strong>{{ object.tipo }} - R$ {{ object.valor }}</strong></p>
        <form method="post" class="text-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim, deletar</button>
            <a href="{% url 'listar_operacoes' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
