{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center text-danger">Deletar Ativo</h1>
        <p class="text-center">Tem certeza de que deseja deletar o ativo <strong>{{ object.nome }}</strong>?</p>
        <form method="post" class="text-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim, deletar</button>
            <a href="{% url 'listar_ativos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
