<form method="GET" class="mb-4">
    <div class="row">
        <div class="col-md-3">
            <label for="nome">Nome do Ativo</label>
            <input type="text" name="nome" class="form-control" value="{{ request.GET.nome }}">
        </div>
        <div class="col-md-3">
            <label for="classe">Classe do Ativo</label>
            <input type="text" name="classe" class="form-control" value="{{ request.GET.classe }}">
        </div>
        <div class="col-md-3">
            <label for="subclasse">Subclasse do Ativo</label>
            <input type="text" name="subclasse" class="form-control" value="{{ request.GET.subclasse }}">
        </div>
        <div class="col-md-3">
            <label for="banco">Banco</label>
            <input type="text" name="banco" class="form-control" value="{{ request.GET.banco }}">
        </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-primary me-2">Filtrar</button>
        <a href="{% url 'listar_ativos' %}" class="btn btn-secondary">Limpar Filtros</a>
    </div>
</form>