{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">{% if object %}Editar Operação{% else %}Criar Operação{% endif %}</h1>
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary me-2">{% if object %}Salvar Alterações{% else %}Criar{% endif %}</button>
                <a href="{% url 'listar_operacoes' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}
