{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Minhas Operações</h1>

        {% include 'listar_filtro_operacoes.html' %}

        <a href="{% url 'criar_operacao' %}?next={% url 'listar_operacoes' %}" class="btn btn-success mb-3">Adicionar Operação</a>
        <a href="{% url 'importar_operacoes' %}" class="btn btn-info mb-3">Importar CSV</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ativo</th>
                    <th>Tipo</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for operacao in operacoes %}
                <tr>
                    <td>{{ operacao.ativo.nome }}</td>
                    <td>{{ operacao.tipo }}</td>
                    <td>{{ operacao.data }}</td>
                    <td>R$ {{ operacao.valor }}</td>
                    <td>
                        <a href="{% url 'editar_operacao' operacao.pk %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'deletar_operacao' operacao.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Nenhuma operação encontrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
