<form method="GET" class="mb-4">
    <div class="row">

        <!-- Filtro por Ativo -->
        <div class="col-md-6">
            <label for="ativo">Ativo</label>
            <select name="ativo" class="form-select">
                <option value="">Todos</option>
                {% for ativo in request.user.ativo_set.all %}
                    <option value="{{ ativo.id }}" {% if request.GET.ativo == ativo.id|stringformat:"s" %}selected{% endif %}>
                        {{ ativo.nome }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Filtro por Tipo -->
        <div class="col-md-6">
            <label for="tipo">Tipo de Operação</label>
            <select name="tipo" class="form-select">
                <option value="">Todos</option>
                {% for key, value in TIPO_OPERACAO %}
                    <option value="{{ key }}" {% if request.GET.tipo == key %}selected{% endif %}>
                        {{ value }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Filtro por Classe -->
        <div class="col-md-3">
            <label for="classe">Classe</label>
            <select name="classe" class="form-select">
                <option value="">Todas</option>
                {% for classe in classes %}
                    <option value="{{ classe }}" {% if request.GET.classe == classe %}selected{% endif %}>
                        {{ classe }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Filtro por Subclasse -->
        <div class="col-md-3">
            <label for="subclasse">Subclasse</label>
            <select name="subclasse" class="form-select">
                <option value="">Todas</option>
                {% for subclasse in subclasses %}
                    <option value="{{ subclasse }}" {% if request.GET.subclasse == subclasse %}selected{% endif %}>
                        {{ subclasse }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Filtro por Banco -->
        <div class="col-md-6">
            <label for="banco">Banco</label>
            <select name="banco" class="form-select">
                <option value="">Todos</option>
                {% for banco in bancos %}
                    <option value="{{ banco }}" {% if request.GET.banco == banco|stringformat:"s" %}selected{% endif %}>
                        {{ banco }}
                    </option>
                {% endfor %}
            </select>
        </div>


    </div>

    <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-primary me-2">Filtrar</button>
        <a href="{% url 'listar_operacoes' %}" class="btn btn-secondary">Limpar Filtros</a>
    </div>
</form>
