{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <h1>Bem-vindo ao SGPI</h1>
    {% if user.is_authenticated %}
        <p class="lead">
            {% if user.first_name %}
                Olá, {{ user.first_name }}!
            {% else %}
                Olá, {{ user.username }}!
            {% endif %}
        </p>

        <!-- Tabela de Ativos com Última Atualização -->
        <div class="container mt-4">
            <h3 class="text-center">Resumo dos Ativos</h3>
            {% include 'resumo_filtro.html' %}

            <div class="text-start">
                <a href="{% url 'criar_ativo' %}?next={{ request.get_full_path }}" 
                    class="btn btn-success mb-3">
                        Adicionar Ativo
                </a>
            </div>
            

            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ações</th>
                        <th>Observações</th>
                        <th>Classe</th>
                        <th>Subclasse</th>
                        <th>Banco</th>
                        <th>Última Atualização</th>
                        <th>Valor Atualizado</th>
                        <th>Rentabilidade 1M</th>
                        <th>Rentabilidade 1A</th>
                        <th>Rentabilidade Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ativo in ativos %}
                    <tr>
                        <td><a href="{% url 'resumo_ativo' ativo.id %}">{{ ativo.nome }}</a></td>
                        <td>
                            <a href="{% url 'criar_operacao' %}?ativo={{ ativo.id }}&next={{ request.get_full_path }}" 
                            class="btn btn-primary btn-sm">
                                Lançar Operação
                            </a>
                        </td>
                        <td>{{ ativo.observacoes }}</td>
                        <td>{{ ativo.classe }}</td>
                        <td>{{ ativo.subclasse }}</td>
                        <td>{{ ativo.banco }}</td>
                        <td>
                            {% if ativo.ultima_atualizacao %}
                                {{ ativo.ultima_atualizacao }}
                            {% else %}
                                <span class="text-muted">Sem atualização</span>
                            {% endif %}
                        </td>
                        <td>R$ {{ ativo.valor_atualizado|floatformat:2 }}</td>
                        <td class="{% if ativo.rentabilidade_1m_abs < 0 %}text-danger{% else %}text-success{% endif %}">
                            R$ {{ ativo.rentabilidade_1m_abs|floatformat:2 }} ({{ ativo.rentabilidade_1m_perc|floatformat:2 }}%)
                        </td>
                        <td class="{% if ativo.rentabilidade_1a_abs < 0 %}text-danger{% else %}text-success{% endif %}">
                            R$ {{ ativo.rentabilidade_1a_abs|floatformat:2 }} ({{ ativo.rentabilidade_1a_perc|floatformat:2 }}%)
                        </td>
                        <td class="{% if ativo.rentabilidade_3a_abs < 0 %}text-danger{% else %}text-success{% endif %}">
                            R$ {{ ativo.rentabilidade_total_abs|floatformat:2 }} ({{ ativo.rentabilidade_total_perc|floatformat:2 }}%)
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">Nenhum ativo encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>

        <div class="mt-4">
            <h5 class="text-end"><strong>Patrimônio Total:</strong> R$ {{ patrimonio_total|floatformat:2 }}</h5>
        
            <h5 class="text-end"><strong>Rentabilidade - Último Mês:</strong> 
                R$ {{ rentabilidade_abs_1m|floatformat:2 }} ({{ rentabilidade_perc_1m|floatformat:2 }}%)</h5>
        
            <h5 class="text-end"><strong>Rentabilidade - Último Ano:</strong> 
                R$ {{ rentabilidade_abs_1a|floatformat:2 }} ({{ rentabilidade_perc_1a|floatformat:2 }}%)</h5>
        
            <h5 class="text-end"><strong>Rentabilidade - Todo o Período:</strong> 
                R$ {{ rentabilidade_abs_total|floatformat:2 }} ({{ rentabilidade_perc_total|floatformat:2 }}%)</h5>
        </div>

    {% else %}
        <p class="lead">Faça login para acessar suas informações.</p>
    {% endif %}
</div>
{% endblock %}
